# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg

# Ansible
ansible/roles/geerlingguy.*/
ansible/.ansible/
ansible/secrets/
*.retry

# Stack config (host-specific)
stack.yaml

# SOPS
.secrets.tmp.enc.yml

# Docker
docker-compose.override.yml

# OS
.DS_Store

# Secrets
.env
.env.*
!.env.example
