# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Ansible
ansible/roles/geerlingguy.*/
ansible/.ansible/
*.retry

# SOPS
.secrets.tmp.enc.yml

# Docker
docker-compose.override.yml

# OS
.DS_Store

# Secrets
.env
.env.*
!.env.example
!.env.test.example
.ansible/
